HZY_DEPLOYMENT_PUBLIC_URL=http://localhost:3080
HZY_APP_CODE=finance
HZY_APP_BASE_PATH=/finance/
NUXT_APP_BASE_URL=/finance/

HZY_FINANCE_DEV_PERMISSIONS=true
HZY_TENANT_RUNTIME_URL=http://127.0.0.1:18080
HZY_FINANCE_DATA_ACCESS_MODE=tenant-runtime
